
$bg: #36413E;
$tp-bg: #00000080;
$lighter-bg: #8d8d923b;

$font: #D7D6D6;
$dark-font: #000;
$lighter-font: #bdbcbccc;
$transparent-font: #d7d6d66b;

$grey: #7f7f7f;
$lighter-grey: #eaeaea4b;

$danger: #FA5C4F;

$dark-green: #0d402f3d;
$lighter-green: #49a794;

$prefix: #473706;
$suffix: #063e47;