:root {
  --bg-color: #36413E;
  --tp-bg-color: #00000080;
  --lighter-bg-color: #8d8d923b;
  --font-color: #D7D6D6;
  --dark-font-color: #000;
  --transparent-font-color: #d7d6d66b;
  --lighter-font-color: #bdbcbccc;
  --grey-color: #7f7f7f;
  --lighter-grey-color: #eaeaea4b;
  --danger-color: #FA5C4F;
  --dark-green-color: #0d402f3d;
  --lighter-green-color: #49a794;

  --prefix-color: #473706;
  --suffix-color: #063e47;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}