:root {
  --bg-color: #36413E;
  --font-color: #D7D6D6;
  --lighter-font-color: #bdbcbccc;
  --lighter-bg-color: #8d8d923b;
  --grey-color: #7f7f7f;
  --transparent-bg: #00000080;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero{
  text-align: center;
  padding-top: 1.2rem;
}