@use './abstracts/colors';

.container {
  background: colors.$bg;
  color: colors.$font;
}

.main{
  max-width: 830px;
  min-height: 100vh;
  display: flex;
  padding: 2rem 0;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  
  .search {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 830px) {
  .container{
    padding: 0 .5rem;

    .main{
      padding: 0;
    }
  }
}

@media (max-width: 450px) {
  .search{
    display: flex;
    flex-direction: column;
  }
}