@use './abstracts/colors';

.mods{
  width: 100%;

  .header{
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    text-align: left;
    text-shadow: colors.$text-shadow;
  }

  .emptyMods{
    text-shadow: colors.$text-shadow;
  }
  
  .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: stretch;
    list-style-type: none;
    padding: 0;
    padding-right: .25rem;
    margin-top: .25rem;
    margin-bottom: .25rem;

    .prefix{
      background-color: colors.$prefix;
    }

    .suffix{
      background-color: colors.$suffix;
    }
    
    .card {
      margin-top: .25rem;
      margin-right: .25rem;
      padding: .3rem .2rem;
      text-align: left;
      color: colors.$lighter-font;
      text-decoration: none;
      border: 1px solid #eaeaea4b;
      border-radius: 2px;
      -webkit-box-shadow: colors.$box-shadow;
      box-shadow: colors.$box-shadow;
      transition: color .33ms ease, border-color .33msease, transform .33ms ease, background .33ms ease;

      &:hover,
      &:focus,
      &:active {
        cursor: pointer;
        background: #660a0333;
        color: colors.$font;
        border-color: colors.$danger;
        transform: translateX(1.2px) translateY(-1px);
      }

      &:hover:after{
        content: 'x';
        position: absolute;
        bottom: 23px;
        right: -4px;
      }
    }
  }
}

@media (max-width: 830px) {
  .search{
    margin: 0;
    padding: 0;
    
    .cards{
        margin-bottom: .25rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, .20fr);

        .card{
          padding: .1rem .15rem;
        }
    }

    .searchBox{
      width: 180px;
    }
  } 

}