@use './abstracts/colors';

.topBtn{
  position: relative;

  .icon{
    position: fixed;
    bottom: -2px;
    right: 0;
    z-index: 20;
    background-color: colors.$bg;
    border: 2px solid colors.$font;
    border-right: 0;
    border-bottom: 0;
    border-radius: .2rem 0 0 0;
    height: 50px;
    width: 50px;
    color: var(--font-color);
    cursor: pointer;
    animation: movebtn 2s ease-in-out infinite;
    transition: all .5s ease-in-out;

    &:hover{
      animation: none;
      background: colors.$font;
      color: colors.$lighter-green;
      border-color: colors.$lighter-green;
    }
  }
}

@keyframes movebtn {
  0%{
    transform: translateY(0);
  }
  25%{
    transform: translateY(-2px);
  }
  50%{
    transform: translateY(0);
  }
  75%{
    transform: translateY(-2px);
  }
  100%{
    transform: translateY(0);
  }
}