.search {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .cards{
    max-height: 240px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
  
    .card {
      margin-bottom: .3rem;
      margin-right: .25rem;
      padding: .2rem;
      text-align: left;
      color: var(--lighter-font-color);
      text-decoration: none;
      border: 1px solid #eaeaea4b;
      border-radius: 2px;
      transition: color 0.15s ease, border-color 0.15s ease;
      max-width: 300px;
  
      &:hover,
      &:focus,
      &:active {
        cursor: pointer;
        color: var(--font-color);
        border-color: var(--lighter-font-color);
      }
    }
  }

  .searchBox {
    margin-bottom: .5rem;
    padding: 0;
    align-self: flex-end;

    input {
      padding: .5rem;
      width: 210px;
      border-radius: .2rem;
    }

    .selectedModsCounter{
      text-align: right;
      font-size: 1.15rem;
    }
  }
  
}  