.table {
    
    border-radius: .1em;
    min-width: 100%;

    thead tr th {
        color: #000;
        background: var(--grey-color);
        font-size: 1.1rem;
        padding: 1rem;
    }

    tbody {
        tr {
            &:nth-child(even) {
                background: var(--tp-bg);
            }

            td {
                border: 1px solid var(--grey-color);
                padding: 1rem .5rem;
            }

            &:hover {
                cursor: pointer;
                background: var(--lighter-bg-color);
                color: var(--font-color);
            }
        }
    }
}

@media (max-width: 700px) {
    .table{
        thead tr th {
            font-size: 1.125rem;
            padding: .8rem;
        }
    }
}

@media (max-width: 480px) {
    .table{
        thead tr th {
            font-size: 1rem;
            padding: .5rem;
        }

        tbody{
            tr{
                td{
                    padding: .5rem .25rem;
                }
            }
        }
    }
}