.table{
    border: 1px solid grey;
    border-radius: .1em;
    min-width: 100%;
}

.table tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.5);
}

.table thead tr th{
    color: #000;
    background: #7f7f7f;
    font-size: 1.1rem;
    padding: 1rem;
}

.table tbody tr td {
    border: 1px solid grey;
    padding: 1rem .5rem;
}

.table tbody tr:hover {
    cursor: pointer;
    background: var(--lighter-bg-color);
    color: #fff;
}
